body{
    background-color: rgb(167, 32, 235);
}

h1{
    color: rgb(255, 255, 255);
    background-color: rgb(221, 0, 255);
}

#show_sketch{
    float:right;
    background-color:rgb(226, 123, 254);
    border-radius:25px;
    color:white;
    font-size:31px;

}

canvas{
    border:5px solid white;
    border-radius:20px;
    animation-name:example;
    animation-duration:4s;
    margin-top:80px;
    animation-iteration-count: infinite;
    
}

@keyframes example{
    from {box-shadow:1px 1px 38px grey;}
    to{box-shadow:1px 1px 38px white;}
}

p{
    padding-top: 10px;
    font-size:25px;

}

#clear{
    background-color: blueviolet;
    color:white;
    border-radius:3px;
}

#confidence{
    color:white;
}

#label{
    color:white;
}

